.transaction-overview-screen {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-overview-screen-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}