@import "../../../Data/Variables.scss";

.transaction-detail-dialog {
  border: 2px solid var(--stroke-color);
  border-radius: 12px;

  .transaction-detail-dialog-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: 2px solid var(--stroke-color);
    }

    text-align: left;

    width: 100%;

    .transaction-detail-dialog-row-labels {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;

      .transaction-detail-dialog-row-label {
        border-radius: 22px;
        border: 2px solid var(--stroke-color);
        padding: 2px 6px;
      }
    }

    #transaction-detail-dialog-row-title {
      width: 265px;
      font-weight: bold;
      padding: 8px;
      border-right: 2px solid var(--stroke-color);
    }

    #transaction-detail-dialog-row-value {
      width: 100%;
      word-break: break-all;
      padding: 8px;
    }

    &.expand-on-right {
      #transaction-detail-dialog-row-title {
        border-right: none;
      }

      #transaction-detail-dialog-row-value {
        border-left: 2px solid var(--stroke-color);
        margin-left: -6px;
      }
    }
  }
}