@import "../../../../Data/Variables.scss";
@import "../../TransactionListScreen.scss";

.account {
  @extend .screen-list-item;

  &:hover {
    #account-name {
      scale: 1.05;
    }
  }

  &.active {
    font-size: 18px;
  }

  .account-head {
      display: flex;
      gap: 12px;
      align-items: center;

    :first-child {
      width: 24px;
      height: 24px;
    }
 }

  #account-name {
    font-weight: bold;

    transition: 0.2s ease-in-out;
  }

  #account-balance {
    font-size: 18px;
  }
}