@import "../../Data/Variables.scss";

@media only screen and (max-width: $mobile-state-1) {
  .content-overlay {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media only screen and (max-width: $mobile-state-2) {
  .content-overlay {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: $mobile-state-1) {
  .content-overlay {
    margin-left: 360px;
    margin-right: 60px;
  }
}

.content-overlay {
  &.blurred {
    opacity: 0.5;
    filter: blur(1px);

    * {
      pointer-events: none;
    }
  }
}

.content-overlay-header {
  width: 100%;
  background-color: var(--background);
  position: sticky;
  z-index: 10;
  top: 0;
}

.content-overlay-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  .content-overlay-navigation-page-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    :first-child {
      width: 28px;
      height: 28px;
    }
    :last-child {
        font-size: 18px;
    }
  }

  .content-overlay-header-navigation-account {
    font-style: italic;
    cursor: pointer;
  }

  .content-overlay-header-navigation-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    .content-overlay-header-navigation-actions-menu {
      width: 26px;
      height: 26px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--text);
      text-decoration: none;

      gap: 6px;

      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      * {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.content-overlay-header-content-title {
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin-right: 24px;
  }

  font-size: 24px;
  font-weight: bold;
}

.content-overlay-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 42px;
}

.content-overlay-header-content-actions {
  &.absolute {
    position: fixed;

    left: 0;
    right: 0;
    bottom: 88px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.content-overlay-header-content-actions-button {
  background-color: var(--background);
  border: 2px solid var(--outline-color);
  color: var(--text);
  border-radius: 24px;
  padding: 6px 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  cursor: pointer;

  &:hover {
    background-color: var(--hover);
  }

  * {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
}

.content-overlay-header-content-actions-search-action {
  background-color: var(--background);
  border: 2px solid var(--outline-color);
  color: var(--text);

  border-radius: 24px;
  padding: 2px 12px;

  display: flex;
  justify-content: start;
  align-items: center;

  width: 100%;

  margin-left: 16px;

  &:focus-within {
    border: 2px solid var(--accent);

    .content-overlay-header-content-actions-search-icon {
      color: var(--accent);
    }
  }

  input {
    background-color: transparent;
    border: none;
    color: var(--text);
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 24px;
    outline: none;

    &::placeholder {
      color: var(--text);
      opacity: 0.6;
    }
  }

  .content-overlay-header-content-actions-search-icon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
}

.content-overlay-divider {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.5;
  width: 95%;
}

.content-overlay-bottom-bar {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: space-around;

  height: 72px;

  background-color: var(--primary);

  border: 2px solid var(--stroke-color);

  border-radius: 12px 12px 0 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;

    padding: 12px;

    width: 100%;

    cursor: pointer;

    &:hover {
      background-color: var(--hover);
    }

    :first-child {
      width: 22px;
      height: 22px;
    }
  }
}

@media only screen and (max-width: $mobile-state-1) {
  .content-overlay-body {
    margin: 24px 24px;
  }
}

@media only screen and (max-width: $mobile-state-2) {
  .content-overlay-body {
    margin: 24px 12px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: $mobile-state-1) {
  .content-overlay-body {
    margin: 24px 42px;
  }
}
