@import "../../Data/Variables.scss";

.content-overlay {
  //width: 100%;
  margin-left: 360px;
  margin-right: 60px;
}

.content-overlay-header {
  width: 100%;
  background-color: var(--background);
  position: sticky;
  z-index: 10;
  top: 0;
}

.content-overlay-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  margin: 0 42px;

  .content-overlay-header-navigation-account {
    font-style: italic;
    cursor: pointer;
  }

  .content-overlay-header-navigation-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 16px;

    color: var(--text);
    text-decoration: none;

    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    * {
      width: 22px;
      height: 22px;
      margin-right: 6px;
    }
  }
}

.content-overlay-header-content-title {
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin-right: 24px;
  }

  font-size: 24px;
  font-weight: bold;
}

.content-overlay-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 42px;
}

.content-overlay-header-content-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-overlay-header-content-actions-button {
  //border: 1px solid $stroke;
  background-color: var(--primary);
  border-radius: 24px;
  padding: 6px 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 16px;

  color: var(--text);
  text-decoration: none;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  * {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
}

.content-overlay-header-content-actions-search-action {
  //border: 1px solid $stroke;
  background-color: var(--primary);
  border-radius: 24px;
  padding: 2px 12px;

  display: flex;
  justify-content: start;
  align-items: center;

  width: 300px;

  margin-left: 16px;

  input {
    background-color: var(--primary);
    border: none;
    color: var(--text);
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 24px;
    outline: none;

    &::placeholder {
      color: var(--text);
      opacity: 0.6;
    }
  }

  .content-overlay-header-content-actions-search-icon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
}

.content-overlay-divider {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.5;
  width: 95%;
}

.content-overlay-body {
  margin: 24px 42px;
}