@import "../../../../Data/Variables.scss";

.transaction-overview-card-chart-content {
  width: 100%;
}

@media only screen and (max-width: $mobile-state-2) {
  .transaction-overview-card-chart-content-row {
    flex-direction: column;

    div {
      &:first-child {
        border-bottom: 2px solid var(--outline-color)
      }
    }
  }
}

@media only screen and (min-width: $mobile-state-2) {
  .transaction-overview-card-chart-content-row {
    flex-direction: row;

    div {
      &:first-child {
        border-right: 2px solid var(--outline-color)
      }
    }
  }
}

.transaction-overview-card-chart-content-row {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;

    width: 100%;

    box-sizing: border-box;

    padding: 8px;
  }

  .transaction-overview-card-chart-label {
    font-weight: bold;
  }
}
