@import "../../../../Data/Variables.scss";

.transaction-overview-card-chart-content {
  width: 100%;
}

@media only screen and (max-width: $mobile-state-2) {
  .transaction-overview-card-chart-content-rows {
    flex-direction: column;

    #transaction-overview-card-chart-first-row {
      border-bottom: 2px solid var(--outline-color)
    }
  }
}

@media only screen and (min-width: $mobile-state-2) {
  .transaction-overview-card-chart-content-rows {
    flex-direction: row;

    #transaction-overview-card-chart-first-row {
      border-right: 2px solid var(--outline-color)
    }
  }
}

.transaction-overview-card-chart-content-rows {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .transaction-overview-card-chart-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;

    width: 100%;

    box-sizing: border-box;

    padding: 8px;
  }

  .transaction-overview-card-chart-label {
    font-weight: bold;
  }
}
