@import "../../../../Data/Variables.scss";

.transaction-overview-card-chart-content {
  width: 100%;
}

.transaction-overview-card-chart-content-row {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;

    &:first-child {
      border-right: 2px solid var(--outline-color)
    }

    padding: 8px;

    width: 50%;
  }

  .transaction-overview-card-chart-label {
    font-weight: bold;
  }
}
