@import "../../../../Data/Variables";
@import "../../TransactionListScreen.scss";

.storage-item {
  @extend .screen-list-item;

  padding: 16px;

  &:hover {
    #storage-item-name {
      scale: 1.03;
    }
  }

  #storage-item-name {
    font-weight: bold;

    transition: 0.2s ease-in-out;
  }
}

