@import "../../../Data/Variables.scss";

.authentication-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .authentication-screen-settings {
    position: absolute;
    top: 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      margin: 12px;
      width: 24px;
      height: 24px;

      cursor: pointer;

      * {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.authentication-screen-title {
  font-size: 30px;
  font-weight: bold;
  margin: 100px;
}

@media only screen and (max-width: $mobile-state-2) {
  .authentication-screen-input-overlay {
    flex-direction: column;
    max-width: 400px;
  }

  .authentication-screen-input-overlay-input {
    border-bottom: 2px solid var(--stroke-color);
  }
}

@media only screen and (min-width: $mobile-state-2) {
  .authentication-screen-input-overlay {
    flex-direction: row;
    width: 700px;
  }

  .authentication-screen-input-overlay-input {
    border-right: 2px solid var(--stroke-color);
  }
}

.authentication-screen-input-overlay {
  display: flex;

  box-sizing: border-box;
  text-align: center;

  margin: 12px;

  background-color: var(--primary);
  border: 2px solid var(--stroke-color);
  border-radius: 24px;

  .authentication-screen-input-overlay-title {
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
  }

  .authentication-screen-input-overlay-input {
    display: flex;
    flex-direction: column;

    width: 100%;

    .authentication-screen-input-overlay-inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 12px;
    }
  }

  .authentication-screen-input-overlay-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 12px;

    box-sizing: border-box;

    text-align: center;

    h2 {
      padding: 0;
      margin: 0;
    }
  }
}