@import "../../Data/Variables";

.list-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

@media only screen and (max-width: $mobile-state-2) {
    .screen-tabs {
        gap: 16px;
    }
}

@media only screen and (min-width: $mobile-state-2) {
    .screen-tabs {
        gap: 32px;
    }
}

.screen-tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;

    span {
        text-decoration: none;
        color: var(--text);

        padding: 12px;
        border: 2px solid var(--stroke-color);
        border-radius: 24px;

        width: 100%;
        text-align: center;

        cursor: pointer;

        transition: 0.2s ease-in-out;

        &.selected {
            border: 2px solid var(--accent);
            color: var(--accent);
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.screen-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    width: 100%;
}

.no-items {
    font-size: 18px;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.screen-list-item {
    width: 100%;

    background-color: transparent;
    padding: 12px;
    outline: 2px solid var(--outline-color);
    border-radius: 12px;
    color: var(--text);

    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    cursor: pointer;

    transition: 0.2s ease-in-out;
}