@import "../../../../Data/Variables";
@import "../../TransactionListScreen.scss";

.transaction {
  @extend .screen-list-item;
  background-color: var(--background);

  &:hover {
    scale: 1.01;
  }

  .transaction-content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    #transaction-icon {
      width: 24px;
      height: 24px;
    }

    .transaction-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      #transaction-name {
        font-weight: bold;

        transition: 0.2s ease-in-out;
      }
      #transaction-executer {
        font-style: italic;
      }
    }
  }

  #transaction-amount {
    font-size: 18px;
  }

  .transaction-income {
    background-color: var(--income-color);
    color: var(--income-text-color);
    border-radius: 12px;
    padding: 4px 8px;
  }
}

