@import "../../../../Data/Variables";
@import "../../TransactionListScreen.scss";

.transaction {
  @extend .screen-list-item;

  &:hover {
    scale: 1.01;
  }

  .transaction-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    #transaction-name {
      font-weight: bold;

      transition: 0.2s ease-in-out;
    }
    #transaction-executer {
      font-style: italic;
    }
  }

  #transaction-amount {
    font-size: 18px;
  }

  .transaction-income {
    background-color: $income-color;
    color: $income-text-color;
    border-radius: 12px;
    padding: 4px 8px;
  }

  .transaction-expense {
    //background-color: $expenses_color;
    //color: $expenses_text_color;
    //border-radius: 12px;
    //padding: 4px 8px;
  }
}

