@import "../../../../../Data/Variables";

.chart-tool-tip {
  position: absolute;
  z-index: 1000;
  background-color: var(--primary);
  border: 1px solid var(--stroke-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px;

  &.onRight {
    left: 20px;
  }

  &.onLeft {
    right: 20px;
  }

  &.onBottom {
    top: 0;
  }

  &.onTop {
    bottom: 0;
  }

  color: var(--text);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    padding: 8px;
  }
}